@charset "utf-8";

/* 初期スタイル調整 */
*{
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino kaku Gothic ProN",Arial,"メイリオ",Meiryo,sans-serif;
    color: #806342
    background-color #fff;
}